/.classpath
/.gwt
/.project
/.settings
/build-output
/configuration/hibernate/hibernate-prod.cfg.xml
/war/dashboard
/war/employeemonitor
/war/lotcodemanager
/war/timeclock
/war/WEB-INF/classes
/war/WEB-INF/deploy
/war/WEB-INF/lib
