/.classpath
**/.DS_Store
/.gwt
/.project
/.settings
/build-output
/configuration/hibernate/hibernate-prod.cfg.xml
/logs
/resources/reports/*.jasper
/war/dashboard
/war/logs
/war/lotcodemanager
/war/timeclockreport
/war/timeclock
/war/traylabelgenerator
/war/packagingtransactionmanager
/war/reports/generatedreports
/war/WEB-INF/classes
/war/WEB-INF/deploy
/war/WEB-INF/lib
/resources/reports/trayLabel.pdf
