/build-output
/configuration/hibernate/hibernate-prod.cfg.xml
/war/dashboard
/war/employeemonitor
/war/lotcodemanager
/war/employeemonitor
/war/recievinginspection
/war/WEB-INF/classes
/war/WEB-INF/lib
/.gwt
