/** Add css rules here for your application. */
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.lotCodeManagerLabel{
  font-size:24px; 
  font-weight: bold;
}

.buttonsPanel {
  border: 1px solid silver;
  padding: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(lightgrey)); 
  font-weight: bold;
}

.headerPanel {
  width: 825px;
	padding: 4px;
	border: 1px solid Silver;
	spacing: 5px;
}

.FlexTableHeader {
  background-color: maroon;
  text-align: center;
  color: white;
  font-weight: bold;
  width: 825px;
}

.FlexTable {
  border: 1px solid silver;
  padding: 2px;
  width: 825px;
}
.dateBox {
width: 80px;
}
.lotCodeTextBox {
	width: 150px;
}
.ingredientListBox {
	width: 350px;
}
.ingredientCodeTextBox {
	width: 50px;
}
.navigationButton {
	width: 400px;
}

/*
.checkedInIngredientFlexTableRemoveButton {
  text-align: center;
  font-weight: bold;
  color: red;
  width: 80px;
}

.usedUpIngredientFlexTableButton {
  text-align: center;
  color: green;
  width: 80px;
  font-weight: bold;
}
*/
