/** Add css rules here for your application. */
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.lotCodeManagerLabel{
  font-size:24px; 
  font-weight: bold;
}

.buttonsPanel {
  border: 1px solid silver;
  padding: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(lightgrey)); 
  font-weight: bold;
}

.headerPanel {
  border: 1px solid silver;
  padding: 4px;
  width: 600px;
}

.checkedInIngredientFlexTableHeader {
  background-color: maroon;
  text-align: center;
  color: white;
  font-weight: bold;
}

.checkedInIngredientFlexTable {
  border: 1px solid silver;
  padding: 2px;
}

.checkedInIngredientFlexTableRemoveButton {
  text-align: center;
  font-weight: bold;
  color: red;
  width: 80px;
}

.inUseIngredientFlexTableHeader {
  background-color: lavender;
  text-align: center;
  color: black;
  font-weight: bold;
}

.inUseIngredientFlexTable {
  border: 1px solid silver;
  padding: 2px;
}

.usedUpIngredientFlexTableHeader {
  background-color: DarkGreen;
  text-align: center;
  color: white;
  font-weight: bold;
}

.usedUpIngredientFlexTable {
  border: 1px solid silver;
  padding: 2px;
}

.usedUpIngredientFlexTableButton {
  text-align: center;
  color: green;
  width: 80px;
  font-weight: bold;
}
.viewFullIngredientHistoryFlexTableHeader {
  background-color: maroon;
  text-align: center;
  color: white;
  font-weight: bold;
}

.viewFullIngredientHistoryFlexTable {
  border: 1px solid silver;
  padding: 2px;
}

.lotCodeSearchFlexTableHeader {
  background-color: maroon;
  text-align: center;
  color: white;
  font-weight: bold;
}

.lotCodeSearchFlexTable {
  border: 1px solid silver;
  padding: 2px;
}

.dateSearchFlexTableHeader {
  background-color: maroon;
  text-align: center;
  color: white;
  font-weight: bold;
}

.dateSearchFlexTable {
  border: 1px solid silver;
  padding: 2px;
}

.activeIngredientsFlexTableHeader {
  background-color: maroon;
  text-align: center;
  color: white;
  font-weight: bold;
}

.activeIngredientsFlexTable {
  border: 1px solid silver;
  padding: 2px;
}
