.FlexTable {
  border: 1px solid silver;
  padding: 2px;
  width: 825px;
}

.FlexTableHeader {
  background-color: maroon;
  text-align: center;
  color: white;
  font-weight: bold;
  width: 825px;
}

.buttonsPanel {
  border: 1px solid silver;
  padding: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(lightgrey)); 
  font-weight: bold;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.dateBox {
width: 80px;
}

.headerPanel {
  width: 825px;
	padding: 4px;
	border: 1px solid Silver;
	spacing: 5px;
}

.ingredientCodeTextBox {
	width: 50px;
}

.ingredientListBox {
	width: 350px;
}

.lotCodeManagerLabel{
  font-size:24px; 
  font-weight: bold;
}

.lotCodeTextBox {
	width: 150px;
}

.navigationButton {
	width: 400px;
}

.pointer {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	cursor: pointer;
}
