.backgroundPanel {
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#dae5ed), color-stop(45%,#fcfcfc), color-stop(56%,#fcfcfc), color-stop(100%,#dae5ed)); /* Chrome,Safari4+ */
    padding: 10px;
}

.title {
	color: black;
	font-size: 30px;
	font-family: Tahoma, Geneva, Futura;
	font-weight: bold;
	text-align: center;
	//text-shadow: 1px 1px 2px #aaa;
}

.flexTableLabel {
	color: black;
	font-size: 20px;
	font-family: Tahoma, Geneva, Futura;
	font-weight: bold;
	text-align: left;
}

.flexTable {
	padding: 10px;
	border: 2px solid lightgray;
}

.greenBorder {
	padding: 10px;
	border: 2px solid green;
}

.redBorder {
	padding: 10px;
	border: 2px solid red;
}