.backgroundPanel {
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#dae5ed), color-stop(45%,#fcfcfc), color-stop(56%,#fcfcfc), color-stop(100%,#dae5ed)); /* Chrome,Safari4+ */
    padding: 10px;
    height: 946px;
    width: 768px;
}

.title {
	color: black;
	font-size: 30px;
	font-family: Tahoma, Geneva, Futura;
	font-weight: bold;
	text-align: center;
	//text-shadow: 1px 1px 2px #aaa;
}

.inventoryLabel {
	color: black;
	font-size: 24px;
	font-family: Tahoma, Geneva, Futura;
	font-weight: bold;
	text-align: center;
	//text-shadow: 1px 1px 2px #aaa;
}

.addInventoryPanel {
	border: 1px solid #ccc;
	padding: 4px;
	
}

.addInventoryPanel button {
	border: 1px solid silver;
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(lightgrey)); 
	border-radius: 4px;
	padding: 2px 4px;
	cursor: pointer;
	cursor: hand;
	border: 1px outset #ccc;
}

.addInventoryPanel button:active {
	border: 1px inset #ccc;
}

.addInventoryPanel button:hover {
	border-color: #9cf #69e #69e #7af;
}

.center {
	text-align: center;
	font-size: 20px;
	font-family: Tahoma, Geneva, Futura;
}

.roundedCorners button {
	border: 1px solid silver;
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(lightgrey)); 
	border-radius: 4px;
	padding: 2px 4px;
	cursor: pointer;
	cursor: hand;
	border: 1px outset #ccc;
}

.roundedCorners button:active {
	border: 1px inset #ccc;
}

.roundedCorners button:hover {
	border-color: #9cf #69e #69e #7af;
}

.openOrdersCellBrowser {
	border: 2px solid grey;
	font-size: 12px;
	font-family: Tahoma, Geneva, Futura;
	padding: 2px;
}